%app_descriptor
    %name Droiuby
    %description The Droiuby mobile web application framework
    %launcher_icon http://www.android.com/images/brand/droid.gif
    %orientation portrait
    %base_url= "http://#{request.host_with_port}"
    %main= home_index_path