%app_descriptor
    %name Hello World App
    %description An android active app that displays hello world!!!
    %launcher_icon http://www.android.com/images/brand/droid.gif
    %base_url= "http://#{request.host_with_port}"
    %main= home_index_path