%activity
  %layout{type: 'linear', width: 'match', height: 'match'}
    %layout{type: 'horizontal', width: 'match', height: 'wrap'}
      %t{width: 'match', size: 20}= "Hi #{current_user.nickname}"
      %button{id: 'logout', "data-url" => destroy_user_session_path, "data-method" => 'delete' } Logout
    %t{width: 'match', size: 14, style: 'bold'} Welcome to the Droiuby App development platform
    %t{width: 'match'} My Apps
    %button{id: 'create_app', "data-url" => app_new_path} Create App
    %layout{type: 'scroll', width: 'match', height: 'match'}
      %layout{type: 'linear', width: 'match', height: 'wrap'}
        - current_user.apps.each do |a|
          %layout{type: 'linear'}
            %t= a.name
            %t= a.description
            %button{id: 'view_xml', "data-url"=> config_url(name: a.name, format: 'xml')}
            %button{id: 'manage_resource', "data-url" => show_resource_path(a)}