%activity{controller: asset_path('session.rb') }
  %layout{type: 'scroll', width: 'match', height: 'match'}
    %layout#login_form{type: 'linear', width: 'match', height: 'match', 'data-method' => 'post', 'data-url' => session_path(resource_name)}
      %layout{type: 'linear', width: 'match', height: 'wrap'}
        %img{src: '@drawable:droiuby', g: 'center', width: '200dip', height: '200dip'}
      %button{id: 'Explore', width: 'wrap', g: 'center', class: 'droiuby-link-activity','data-url' => app_index_path, background_color: '#00FFFFFF'} Explore
      %t{size: 18} Sign in
      %input{visibility: 'hidden', name: 'authenticity_token', value: form_authenticity_token}
      %t Login
      %input#login{width: 'match', name: 'user[email]'}
      %t Password
      %input#password{width: 'match', type: 'password', hint: 'Enter Password', name: 'user[password]'}
      %checkbox{id: 'remember_me', name: 'user[remember_me]', width: 'match'} Remember Me
      %button#submit Submit
