%activity{controller: asset_path('home.rb')}
  %layout{type: 'linear', width: 'match', height: 'match'}
    %t{width: 'match', size: 25} Browse Applications
    %layout{type: 'linear', background_color: '#000000',orientation: 'horizontal', height: '2dip', width: 'match'}
    %layout{type: 'scroll', width: 'match', height: 'match'}
      %layout{type: 'linear', width: 'match', height: 'wrap'}
        - @apps.each do |a|
          %layout{type: 'linear', background_color: '#000000',orientation: 'horizontal', height: '1dip', width: 'match'}
          %layout{type: 'linear'}
            %t{size: 24, color: '#9E2857'}= a.name
            %t{size: 12}= a.description
            %button{id: 'view_xml', class: 'droiuby-link-app', width: 'match', "data-url"=> config_url(name: a.name, format: 'xml')} Run
          %layout{type: 'linear', orientation: 'horizontal', height: '3dip', width: 'match'}