= render :partial=>'common/breadcrumb', locals: {paths: [ {name: 'Info'}]}
%h4
  = @app.name
%p
  = @app.description
%h4 App XML
%pre= config_url(short_name: @app.name, format: 'xml')
%h4 QRCode
.qrcode{:"data-url"=>config_url(short_name: @app.short_name, format: 'xml')}
