.site_header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px
}

img.site_logo {
  height: 100px;
  width: 100px;
}

.hidden {
  display: none;
}

textarea#app_description {
  width: 519px;
  height: 100px
}

a.logout {
  float: right
}

